[submodule "esp-idf"]
	path = esp-idf
	url = https://github.com/espressif/esp-idf
[submodule "Projects/Arduino_sample/components/arduino"]
	path = Projects/Arduino_sample/components/arduino
	url = https://github.com/espressif/arduino-esp32.git
