[submodule "esp-idf"]
	path = esp-idf
	url = https://github.com/espressif/esp-idf
[submodule "Projects/Protoproject/components/arduino"]
	path = Projects/Protoproject/components/arduino
	url = https://github.com/espressif/arduino-esp32.git
[submodule "Projects/Legacy/Examples/Arduino_sample/components/arduino"]
	path = Projects/Legacy/Examples/Arduino_sample/components/arduino
	url = https://github.com/espressif/arduino-esp32.git
[submodule "Projects/Legacy/Templates/Protoduino/components/arduino"]
	path = Projects/Legacy/Templates/Protoduino/components/arduino
	url = https://github.com/espressif/arduino-esp32.git
[submodule "Projects/Protoproject/components/ESPAsyncWebServer"]
	path = Projects/Protoproject/components/ESPAsyncWebServer
	url = https://github.com/me-no-dev/ESPAsyncWebServer
[submodule "Projects/Protoproject/components/AsyncTCP"]
	path = Projects/Protoproject/components/AsyncTCP
	url = https://github.com/me-no-dev/AsyncTCP
